{{ define "nav" }}
<div
  class="sticky top-0 px-4 border-b border-gray-700 bg-dark sm:bg-dark/80 text-gray-400 sm:backdrop-blur rounded-b-lg z-50"
>
  <nav class="max-w-5xl mx-auto py-2 transition-all">
    <div class="flex items-center justify-between gap-4">
      <a class="text-lg font-bold flex items-center gap-4 text-white" href="/">
        <span
          class="w-12 h-12 bg-gray-700 rounded-full flex items-center justify-center"
        >
          {{ inlineSVG "public/litepage.svg" "w-auto h-7 mb-1"}}
        </span>
        Litepage
      </a>
      <!-- desktop nav -->
      <div class="hidden sm:flex gap-4">
        {{ range .Nav }} {{ $link := index $.Urls .Key}}
        <a
          class="transition hover:text-white"
          href="{{ $link.Url }}"
          target="{{ $link.Target }}"
          >{{ .Label }}</a
        >
        {{ end }}
      </div>
      <!-- mobile nav -->
      <button
        id="nav-toggle"
        class="sm:hidden transition hover:text-white"
        aria-label="Nav menu"
        aria-expanded="false"
      >
        {{ inlineSVG "public/icons/burger.svg" "w-auto h-10" }}
      </button>
    </div>
    <div
      id="nav-menu"
      class="hidden flex-col sm:hidden items-center py-4 gap-4 text-lg"
    >
      {{ range .Nav }} {{ $link := index $.Urls .Key}}
      <a
        class="transition hover:text-white p-4"
        href="{{ $link.Url }}"
        target="{{ $link.Target }}"
        >{{ .Label }}</a
      >
      {{ end }}
    </div>
  </nav>
</div>
{{ end }}
