{{ define "nav" }}
<div
  class="sticky top-0 px-4 bg-black/75 text-white backdrop-blur rounded-b-lg z-50"
>
  <nav class="max-w-5xl mx-auto py-2 flex items-center gap-4">
    <a class="grow font-bold flex items-center gap-4" href="/">
      <span
        class="w-12 h-12 bg-gray-700 rounded-full flex items-center justify-center"
      >
        {{ inlineSVG "public/litepage.svg" "w-auto h-7 mb-1"}}
      </span>
      Litepage
    </a>
    {{ range .Nav }} {{ $link := index $.Urls .Key}}
    <a
      class="text-gray-400 transition hover:text-white"
      href="{{ $link.Url }}"
      target="{{ $link.Target }}"
      >{{ .Label }}</a
    >
    {{ end }}
  </nav>
</div>
{{ end }}
