{{ define "nav"}}
<div class="sticky top-0 bg-black text-white backdrop-blur rounded-b-lg">
  <nav class="max-w-6xl mx-auto p-4 flex items-center gap-4">
    <a class="grow font-bold flex items-center gap-4" href="/">
      <span
        class="w-12 h-12 bg-gray-700 rounded-full flex items-center justify-center"
      >
        {{ inlineSVG "public/litepage.svg" "w-auto h-7 mb-1"}}
      </span>
      Litepage
    </a>
    <a href="/">Docs</a>
    <a href="/">GitHub</a>
  </nav>
</div>
{{ end }}
