<!-- title -->
{{ define "title" }}{{ .Data.Title }}{{ end }}

<!-- Meta -->
{{ define "meta-description" }}{{ .Data.Description }}{{ end }}

<!-- scripts -->
{{ define "scripts" }}{{ end }}

<!-- body -->
{{ define "body" }}
<div class="px-4">
  <div class="max-w-5xl mx-auto relative">
    <aside
      class="hidden md:block md:fixed w-[15rem] inset-0 top-[5.3rem] left-[max(1rem,calc(50%-32rem))] right-auto overflow-y-auto rounded-lg text-gray-400"
    >
      <nav class="bg-gray-900 p-4">
        {{ $currentPage := .Data.Title }} {{ range .PageData.DocContents }}
        <span class="font-bold text-gray-200">{{ .Label }}</span>
        <ul class="space-y-3 my-4 border-l border-gray-700 text-sm">
          {{ range .Items }}
          <li class="pl-2">
            {{ if eq $currentPage .Label }}
            <span class="text-white font-bold">{{ .Label }}</span>
            {{ else}}
            <a class="transition hover:text-white" href="{{ .Path }}"
              >{{ .Label }}</a
            >
            {{ end }}
          </li>
          {{ end}}
        </ul>
        {{ end }}
      </nav>
    </aside>
    <div class="md:pl-[15rem] my-5">
      <div
        class="flex gap-4 items-center md:hidden rounded-lg bg-gray-900 text-gray-300 p-4 mb-4"
      >
        <button
          id="docs-nav-toggle"
          class="transition hover:text-white"
          aria-label="Docs nav menu toggle"
          aria-expanded="false"
        >
          {{ inlineSVG "public/icons/burger.svg" "w-auto h-8" }}
        </button>
        <p>{{ .Data.Section }} / {{ .Data.Title }}</p>
      </div>
      <div
        class="md:ml-4 bg-light bg-gradient-to-br from-light from-10% via-pink/10 to-yellow/10 px-4 py-8 rounded-lg grow"
      >
        <p class="hidden md:block text-gray-600 mb-4">{{ .Data.Section }} /</p>
        <article class="prose">{{ .Data.Content }}</article>
      </div>
      {{ template "footer" }}
    </div>
  </div>
</div>
{{ end }}
