<!-- title -->
{{ define "title" }}{{ .Data.Title }}{{ end }}

<!-- Meta -->
{{ define "meta-description" }}{{ .Data.Heading }}{{ end }}

<!-- scripts -->
{{ define "scripts" }}
<link rel="prefetch" href="/docs" />
{{ end }}

<!-- body -->
{{ define "body" }}
<div class="max-w-4xl mx-auto px-4 sm:px-8">
  {{ template "hero" .Data }}
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 my-10 max-w-lg mx-auto">
    {{ range $index, $cta := .Data.Ctas }} {{ $link := index
    $.PageData.Links.Urls $cta.Key}}
    <a
      class="text-center py-4 sm:py-2 px-10 border {{ if eq $index 0}}border-pink bg-pink/65{{ else }}border-white{{ end }} rounded-lg text-white font-bold hover:scale-105 transition"
      href="{{ $link.Url }}"
      target="{{ $link.Target }}"
    >
      {{ $cta.Label }}
    </a>
    {{ end }}
  </div>
  <h2 class="text-white text-center text-2xl max-w-[50ch] mx-auto my-20">
    {{ .Data.Subheading}}
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-auto max-w-3xl my-20"
  >
    {{ range .Data.Taglines }}
    <div data-fade-in>
      <div
        class="h-full group flex items-center gap-5 p-5 text-lg rounded-lg font-light border-2 border-pink border-dashed shadow-2xl shadow-pink/20 text-white hover:border-cyan hover:shadow-cyan/40 hover:border-solid transition"
      >
        {{ inlineSVG .Icon "shrink-0" "w-auto" "h-10" "stroke-pink" "transition"
        "group-hover:stroke-cyan" "group-hover:-translate-y-1" }}
        <p>{{ .Text }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<div
  class="bg-light text-dark bg-linear-to-br from-light from-10% via-cyan/10 to-yellow/10 max-w-5xl mx-auto rounded-2xl px-4 sm:px-8 py-10 pattern-zigzag-3d pattern-blue-500 pattern-bg-white pattern-size-6 pattern-opacity-20"
>
  <div class="max-w-4xl mx-auto">
    <h2 class="text-2xl font-bold">{{ .Data.SnippetsHeading }}</h2>
    <p class="text mt-3 text-gray-700">{{ .Data.SnippetsSubheading }}</p>
    <div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-3 gap-8 my-10">
      {{ range .Data.Snippets }}
      <div
        class="p-5 border-2 rounded-xl shadow-solid {{ if eq .ColSpan 2 }}sm:col-span-4 lg:col-span-2 border-pink shadow-pink bg-pink/15{{ else }}sm:col-span-2 lg:col-span-1 border-cyan shadow-cyan-dark bg-cyan/15{{ end }}"
        data-fade-in
      >
        <h3 class="font-bold text-lg">{{ .Heading}}</h3>
        <p class="my-5">{{ .Description }}</p>
        <pre
          class="border border-dashed rounded-sm p-5 my-5 text-xs overflow-x-auto bg-white {{ if eq .ColSpan 2 }}border-pink{{ else }}border-cyan{{ end }}"
        >
{{ .Snippet }}</pre
        >
      </div>
      {{ end }}
    </div>
    <div
      class="border-2 rounded-xl shadow-solid border-yellow shadow-yellow bg-yellow/15"
      data-fade-in
    >
      <div class="my-20 flex flex-col gap-5">
        <h3 class="text-center font-bold text-lg">Ready to learn more?</h3>
        <a
          class="mx-auto py-4 sm:py-2 px-10 rounded-lg border border-yellow bg-white font-bold hover:scale-105 transition"
          href="/docs"
          >Go to the docs</a
        >
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- hero -->
{{ define "hero" }}
<div class="flex mx-auto my-5 gap-14 text-white items-center justify-center">
  <div class="shrink-0 py-20 hidden sm:block">
    <img src="/litepage.svg" alt="Litepage logo" class="size-40 lg:size-48" />
  </div>
  <div class="py-24 sm:py-20 relative w-[42ch] lg:w-[45ch]">
    <div
      class="absolute -z-20 top-0 w-3/4 h-full rounded-full blur-3xl bg-linear-to-r from-pink to-cyan opacity-30 rotate-6"
    ></div>
    <h1
      class="text-6xl sm:text-[2.7rem] lg:text-[3.2rem] text-center leading-tight lg:leading-tight sm:text-left font-semibold bg-clip-text text-transparent bg-linear-to-r from-white to-gray-300"
    >
      {{ .Heading }}
    </h1>
    <p
      class="text-2xl mt-3 text-center sm:text-left font-semibold text-gray-300"
    >
      {{ .Subtext }}
    </p>
  </div>
</div>
{{ end }}
